#portfolio span.breadcrumb { display: block; margin-bottom: 1em; }
#portfolio form label { display: block; margin-top: 1em; }
#portfolio form label > span:first-child { font-weight: bold; margin-bottom: 5px; display: inline-block; }
#portfolio form label > span.editor { display: block; border-top: 1px solid #1e3e70; margin: 10px -5px 0px -5px; padding: 0px 5px; font-style: italic; text-align: right; }
#portfolio form h1 input { font-size: 16pt; }
#portfolio form input[type=text], #portfolio form textarea { width: 80%; }
#portfolio form textarea { height: 12em; }
#portfolio form select { width: 80%; }
#portfolio span.empty_text { display: block; font-style: italic; margin: 10px 0px; }
#portfolio .three-columns { width: 80%; }
#portfolio .three-columns > div { width: 33%; float: left; }
#portfolio .three-columns a.button { margin: 0px; }
#portfolio .two-columns { width: 80%; }
#portfolio .two-columns > label { width: 49%; float: left; }
#portfolio .two-columns > label select { width: 90%; }
#portfolio #permission_list img.link { cursor: pointer; }
#portfolio select option.heading, #portfolio .chosen-drop li.heading { font-weight: bold; color: black; }
#portfolio span.portfolio { display: block; float: left; margin-right: 30px; font-size: 10pt; font-weight: bold; width: 80px; min-height: 80px; max-height: 8em; overflow: hidden; color: black; background-image: url("images/icons/64/blue/literature2.png"); background-repeat: no-repeat; padding-top: 68px; }
#portfolio span.portfolio:hover { opacity: 0.7; }
#portfolio span.add_portfolio { background-image: url("images/icons/64/blue/add/literature2.png"); cursor: pointer; }
#portfolio span.edit_portfolio { display: inline-block; cursor: pointer; width: 16px; height: 16px; margin-left: 10px; background-image: url("../../../../assets/images/icons/16/grey/edit.png"); }
#portfolio span.edit_portfolio:hover { background-image: url("../../../../assets/images/icons/16/blue/edit.png"); }
#portfolio input.portfolio { font-size: 20pt; width: 20em; }
#portfolio td.tags { width: 250px; vertical-align: top; }
#portfolio td.tags > div { margin-right: 10px; height: 100%; }
#portfolio td.tags > div span { font-weight: bold; font-size: 1.1em; margin: 5px 0; }
#portfolio td.tags > div a { display: block; font-size: 12pt; margin-bottom: 5px;                 /* padding-left: 20px;
 &.closed { background-image: url('../../../../assets/images/icons/16/blue/arr_1right.png'); background-repeat: no-repeat; background-position: 0 2px;
 &:hover { background-image: url('../../../../assets/images/icons/16/red/arr_1right.png'); } } */ }
#portfolio td.tags > div a.open { /*
background-image: url('../../../../assets/images/icons/16/blue/arr_1down.png');
background-repeat: no-repeat;
background-position: 0 2px;
*/ background-color: #DDDDFF; /*
&:hover { background-image: url('../../../../assets/images/icons/16/red/arr_1down.png');
}
*/ }
#portfolio td.tags > div a.selected { background-color: #DDDDFF; }
#portfolio #tasks { vertical-align: top; /*
border-left: 1px dashed #1E3E70;
padding-left: 10px;
*/ }
#portfolio #tasks .set-description { background-color: #F1F1F1; padding: 5px; }
#portfolio table.tasks tr td:nth-child(1n+3) { white-space: nowrap; }
#portfolio table.tasks tr td:nth-child(4) { padding-right: 25px; }
#portfolio .mark { background-color: #F1F1F1; padding: 5px; width: 80%; }
#portfolio #files_to_upload { min-width: 500px; width: auto; }
#portfolio #files_to_upload tr td:nth-child(1) { width: 100px; }
#portfolio #files_to_upload tr td:nth-child(1) img { max-width: 90px; max-height: 60px; }
#portfolio #files_to_upload tr td:nth-child(2) { padding: 3px 10px; }
#portfolio #files_to_upload tr td:nth-child(3) { padding: 3px 10px; width: 100px; }
#portfolio #files_to_upload span.file_error { display: block; background-color: #FFCCCC; padding: 2px; }
#portfolio table.files { width: 80%; }
#portfolio table.default caption { background-color: transparent; color: #444; font-size: 1.4em; text-align: left; margin-top: 15px; }
#portfolio table.default:first-child caption { margin-top: 0px; }
#portfolio .portfolio-buttons { text-align: center; width: 80%; }

span[disabled] { color: #6E6E6E; }

/*# sourceMappingURL=portfolio.css.map */
